/*feuille des variables des couleurs et des polices pour BSKT*/ 

//Variables des couleurs 
$gris: #b2bfba; 
$bleu : #182b8b; 
$bleu_fonce: #020618; 
$or_fonce: #deb056; 
$or_clair: #fbdbcd; 
$bleu_fond: #020618; 
$bleu_police: #01040b; 
$bleu_clair: #dce5f9;
$argent_fonce: #686869; 
$argent_clair:#dfe8e5; 
$bronz_fonce: #5a2804; 
$bronz_clair: #75685a;
$blanc: #ffffff; 

//variables des polices
$spartan: 'Spartan', sans-serif;
$anton: 'Anton', sans-serif;